.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    padding: 20px;
}

.modal-container.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-box {
    width: 100%;
    max-width: 480px;
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    border: 8px solid #aaa;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.modal-content {
    color: #fff;
    margin-bottom: 30px;
    margin-top: 10px;
}

.modal-link {
    display: flex;
    align-items: center;
}

.modal-link a {
    color: #fff;
    padding-left: 3px;
    text-decoration: none;
}